.card_img {
    max-width: 150px;
    max-height: 150px;
}

.card {
    text-align: center;
    margin: 20px;
}

.card:hover {
    background-color: lightseagreen;
}

.infoWindows{
    max-width: 250px;
    max-height: 250px;
}

#filterBtn{
    text-align: center;
    margin: 20px;
}

button {
    margin: 10px;
}

#selectedCard {
    background: lightblue;
}

#map {
    height: 50%;
}